.password-eye {
  float: right;
  margin-top: -35px;
  margin-right: 10px;

  &::after {
    display: block;
    width: 30px;
    height: 30px;
    content: '';
  }
}

.password-visible::after {
  background: url('#{$general-image-path}/CreateForm/visible.svg');
}

.password-invisible::after {
  background: url('#{$general-image-path}/CreateForm/invisible.svg');
}

