// Normalize/Reset of styling

html {
  height: 100%;
  font-size: 16px;

  body {
    margin: 0;
    height: 100%;
    font-family: Arial, SimHei;
    font-size: 16px;
    overflow-x: hidden;
  }
}

body {

  a:hover,
  a:focus {
    outline: none;
    text-decoration: none;
  }

  button,
  input,
  select,
  .btn,
  textarea {
    border-radius: 0;
    font-family: Arial, SimHei;
    appearance: none;

    &:focus {
      outline: 0;
      box-shadow: none;
    }

    &:required:invalid,
    &:focus:invalid {
      box-shadow: none;
    }
  }
}

